.container {
  margin: 0 auto;
  width: 900px;
  box-sizing: border-box;
  padding-left: 15px;
  padding-right: 15px;

  // @media (max-width: $max-desktop-width) {
  //   min-width: 1024px;
  // }

  // @media (max-width: $desktop-width) {
  //   min-width: 768px;
  // }

  // @media (max-width: $tablet-width) {
  //   min-width: 428px;
  // }

  // @media (max-width: $mobile-width) {
  //   min-width: 375px;
  // }
}
