.footer {
  background-image: url('../../img/footer.jpg'),
                    linear-gradient(90deg, #012a4a 0%, #012a4a 45%, #004667 55%, #004667 100%);
  background-repeat: no-repeat;
  background-position: top center;
}

.footer__wrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 32px;
  margin-bottom: 26px;

  @media (max-width: $tablet-width) {
    padding-right: 20px;
    padding-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  @media (max-width: $mobile-width) {
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

.footer__logo {
  display: flex;
  flex-direction: column;
  margin-top: -9px;
}

.footer__image {
  max-width: 250px;

  @media (max-width: $tablet-width) {
    max-width: 200px;
  }

  @media (max-width: $mobile-width) {
    max-width: 150px;
  }
}

.footer__link {
  color: $white;
  text-decoration: none;
  font-style: italic;
  padding-right: 22px;
  font-size: 14px;

  @media (max-width: $tablet-width) {
    font-size: 12px;
    padding-right: 0;
    text-align: right;
    padding-top: 10px;
  }

  &--license {
    margin-top: auto;

    @media (max-width: $tablet-width) {
      margin-left: auto;
    }
  }
}

.footer__contacts {
  display: flex;
  justify-content: space-between;
  color: $white;

  @media (max-width: $tablet-width) {
    flex-direction: column;
  }
}

.footer__contact {
  color: $white;
  text-decoration: none;
  font-size: 12px;

  &:hover {
    color: $light-blue;
  }

  &:focus {
    color: $light-blue;
  }

  &:active {
    color: $light-blue;
  }
}
.footer__links {
  display: flex;

  @media (max-width: $tablet-width) {
    flex-direction: column;
  }
}