/*color*/
$main-text: #013356;
$light-blue: #c6d9e4;
$blue: #7494A6;
$grey: #e6e4df;
$grey-bg: #e0e0e0;
$white: #ffffff;
$transparent: rgba(0, 0, 0, 0);

/*font*/
$font: "Open Sans", "Arial", sans-serif;

/*viewports*/
$max-desktop-width: 1229px;
$desktop-width: 1023px;
$tablet-width: 767px;
$mobile-width: 427px;
